<!-- <header>
  <div>Logo</div>
</header> -->
<div class="main-container">
  <div class="form-container col-9 col-sm-6 col-md-6 col-lg-4">
    <form
      name="form"
      (ngSubmit)="f.form.valid && resetPassword(f)"
      #f="ngForm"
      novalidate
    >
      <div class="d-flex align-items-center mb-4">
        <button class="custom-btn p-0" routerLink="">
          <i class="fa-solid fa-arrow-left-long"></i>
        </button>
        <h3 class="ms-5 m-0 logintext">Reset Your Password</h3>
      </div>
      <p>
        Password must be 8 characters long with no spaces and atleast one
        special character.
      </p>

      <div class="form-floating mb-2 password-form">
        <input
          [type]="show_button ? 'text' : 'password'"
          class="form-control password-input"
          name="password"
          id="floatingPassword"
          placeholder="Password"
          required
          [(ngModel)]="Resetform.Password"
          #Password="ngModel"
          maxlength="10"
        />

        <div class="show">
          <button
            type="button"
            *ngIf="!hide_button"
            class="custom-btn"
            (click)="showPassword()"
          >
            <i class="fa-solid fa-eye"></i>
          </button>
          <button
            type="button"
            *ngIf="hide_button"
            class="custom-btn"
            (click)="showPassword()"
          >
            <i class="fa-solid fa-eye-slash"></i>
          </button>
        </div>
        <label for="floatingPassword">New Password</label>
      </div>
      <div class="mb-4">
        <small
          *ngIf="Password.errors && Password.errors['required'] && f.touched"
          >Password is required</small
        >
      </div>

      <div class="form-floating mb-2 password-form">
        <input
          [type]="show_button2 ? 'text' : 'password'"
          class="form-control password-input"
          id="ConfirmPassword"
          placeholder="Confirm Password"
          name="ConfirmPassword"
          required
          [(ngModel)]="Resetform.ConfirmPassword"
          #ConfirmPassword="ngModel"
          maxlength="10"
        />

        <div class="show">
          <button
            type="button"
            *ngIf="!hide_button2"
            class="custom-btn"
            (click)="showPassword2()"
          >
            <i class="fa-solid fa-eye"></i>
          </button>
          <button
            type="button"
            *ngIf="hide_button2"
            class="custom-btn"
            (click)="showPassword2()"
          >
            <i class="fa-solid fa-eye-slash"></i>
          </button>
        </div>
        <label for="ConfirmPassword">Confirm Password</label>
      </div>
      <div class="mb-4">
        <small
          *ngIf="Password.errors && Password.errors['required'] && f.touched"
          >Password is required</small
        >
      </div>

      <div>
        <button class="signupbtn" type="submit" [disabled]="!f.valid">
          Reset Password
        </button>
      </div>
    </form>
  </div>
</div>
