<div class="main-container">
  <div class="form-container container col-9 col-sm-6 col-md-4 col-lg-4">
    <div class="d-flex align-items-center mb-4">
      <button class="custom-btn p-0" routerLink="">
        <i class="fa-solid fa-arrow-left-long"></i>
      </button>
      <h3 class="ms-5 m-0 logintext">Forgot Your Password?</h3>
    </div>
    <p>
      Please enter your email address you'd like your password reset information
      sent to
    </p>

    <form
      name="form"
      (ngSubmit)="f.form.valid && onSubmit(f)"
      #f="ngForm"
      novalidate
    >
      <div class="form-floating mb-3">
        <input
          type="email"
          class="form-control username-input"
          id="floatingInput"
          placeholder="name@example.com"
          name="email"
          required
          [(ngModel)]="forgetPass.email"
          #email="ngModel"
        />
        <label for="floatingInput" class="label">Your email address</label>
        <br />
        <small *ngIf="email.errors && f.submitted"
          >Email Address is required</small
        >
        <small
          *ngIf="email.errors && email.errors['email'] && forgetPass.touched"
          >Email Address should be valid</small
        >
        <button class="loginbtn mt-5" type="submit" [disabled]="!f.valid">
          Send instructions
        </button>
      </div>
    </form>
  </div>
</div>
